.NavBar{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: relative;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 100%);
}

.NavBar > ul{
    list-style: none;
    display:flex;
}

.NavBar > ul > li::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fbaa00;
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
}

.NavBar > ul > li{
    padding: 0 10px;
    color: 	#fbaa00;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
}     


.NavBar > ul > li:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


h1{
    color:	#fbaa00;
    font-size: 80px;
    text-align: center;
    padding: 4px;
    font-style: italic;
    font-weight: 800;
    text-decoration: solid;
    
    

} 

h2{
    color:	#fbaa00;
    font-size: 30px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    padding: 4px;
    font-family: 'Courier New', Courier, monospace;
}





/*
*Location styles 
*/
.location-container {
    width: 100%;
    max-width: 100%;
    position: relative;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
    transition: 0.5ms;
    word-spacing: 4px;
    font-size: clamp(0.65rem, 0.5825rem + 0.3373vw, 1rem);
    gap: 8px;
    padding: 2px 5px;
    background-color: 	#fbaa00;
 
 }
 
 .mail-logo,
 .phone-logo,
 .Location-logo {
    background-color: transparent;
    stroke:black;   
    width: 19px;
    height: 18px;
    display: block;
    position: relative;

 }








.Button{
   width: 100%;
   max-width: 200px;
   height: 100%;
   max-height: 200px;
   position: relative;
   top: 0;
   left: 0;
   margin-top: 100px;
   background-color: 	#fbaa00;
   color:black;
   border: 2px solid black;
   border-radius: 5px;
   font-size: 1.6rem;
   padding: 6px;
   cursor: pointer;
   
}

.Button:hover{
    background-color: black;
    color: gold;
    border: 2px solid gold;
    transition: 0.5s;
}

.Button:active{
    background-color: gold;
    color: black;
    border: 2px solid black;
    transition: 0.5s;
}

.Button:focus{
    outline: none;
}   


@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.Hero_Img{
    max-width: 700px;
    animation: fadeInLeft 3s ease-out;
}

.Hero_Img,.Item-2{
  
}


.Item-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 0 20px;

    
}

.Hero {
    display: flex;
    max-width: 100%;
    height: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}   


p{
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif;
    text-align: center;
    padding: 4px;
    color: white;
    margin: 0;
}















