* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.chakra-ui-dark {
  background-color: #000000;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  background-color: #000000;
  scroll-behavior: smooth;
  transition: all 0.5s ease-in-out;
}
